.bg {
  min-height: 100vh;
}

.bg-dark {
  background-color: #282c34;
}

.weather-animation {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.weather-scene {
  min-height: 80vmin;
  flex-grow: 1;
  width: 100vw;
  max-width: 1420px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.weather-bg {
  height: 100%;
}


.weather-pattern {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: calc(8 * 50vmin);
  display: flex;
  flex-flow: row column;
}

.weather-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.weather-info {
  margin: 0 10px;
  background: rgba(0, 0, 0, .8);
  border-radius: 4px;
}

.weather-symbol {
  width: 50vmin;
  height: 50vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .weather-pattern {
    animation: weather-pattern-scroll infinite 30s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes weather-pattern-scroll {
  from {
    left: calc(-8 * 50vmin);
  }
  100% {
    left: calc(100vmin + 20px);
  }
}
